root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Scripts MUST use LF line endings (critical for Linux execution)
[*.{sh,bash,py,js}]
end_of_line = lf
indent_style = space

# Python scripts
[*.py]
end_of_line = lf
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash}]
end_of_line = lf
indent_style = space
indent_size = 2
